<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QuanLyBanHang.Properties.Settings.QuanLyBanHangConnectionString"
        connectionString="Data Source=113.161.88.180,1133;Initial Catalog=QuanLyBanHang;User ID=sa;Password=db11@tanhoa"
        providerName="System.Data.SqlClient" />
    <!--<add name="QuanLyBanHang.Properties.Settings.QuanLyBanHangConnectionString"
        connectionString="Data Source=serverg8-01;Initial Catalog=QuanLyBanHang;User ID=sa;Password=db11@tanhoa"
        providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
