<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanHang.Properties.Settings.QuanLyBanHangConnectionString"
            connectionString="Data Source=serverg8-01;Initial Catalog=QuanLyBanHang;User ID=sa;Password=db11@tanhoa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
